->Task
Create a table for books with fields:title,author,year. insert 3 books and query by author delete a book

In [6]:
import sqlite3

In [7]:
conn=sqlite3.connect('books.db')
cursor=conn.cursor()

In [8]:
#Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS BOOKS(
               title TEXT,
               author TEXT,
               year INTEGER
               )""")

In [10]:
#Insert Data
cursor.executemany("INSERT INTO books (title,author,year) VALUES (?,?,?)",
               (["Clean Code","Robert C. Martin",2008],
                ["Harry Potter","J. K. Rowling",1997],
                ["The Hobbit","J. R. R. Tolkien",1937]
                )
               )
conn.commit()

In [13]:
#Query
cursor.execute("SELECT * FROM books")
rows=cursor.fetchall()
for row in rows:
    print(row)

('Clean Code', 'Robert C. Martin', 2008)
('Harry Potter', 'J. K. Rowling', 1997)
('The Hobbit', 'J. R. R. Tolkien', 1937)

In [15]:
#Update years
cursor.execute("UPDATE books SET year =? WHERE title=?",
               (2000,"Harry Potter") )
conn.commit()

In [16]:
#Query
cursor.execute("SELECT * FROM books")
rows=cursor.fetchall()
for row in rows:
    print(row)

('Clean Code', 'Robert C. Martin', 2008)
('Harry Potter', 'J. K. Rowling', 2000)
('The Hobbit', 'J. R. R. Tolkien', 1937)

In [19]:
#Delete one book
cursor.execute("DELETE FROM books WHERE title=?",
               ("Harry Potter",)
               )
conn.commit()

In [20]:
#Query
cursor.execute("SELECT * FROM books")
rows=cursor.fetchall()
for row in rows:
    print(row)

('Clean Code', 'Robert C. Martin', 2008)
('The Hobbit', 'J. R. R. Tolkien', 1937)