In [24]:
import pandas as pd
df=pd.read_csv('data.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll     4 non-null      int64
 1   Name     3 non-null      object
 2   Address  3 non-null      object
 3   Age      3 non-null      float64
 4   Gender   2 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 288.0+ bytes

In [26]:
#check missing value
# df.isnull().sum()
print(df.isna().sum())

Roll       0
Name       1
Address    1
Age        1
Gender     2
dtype: int64

In [27]:
#drop rows with any missing value
new_df=df.dropna()

In [28]:
print(new_df)

   Roll Name Address   Age Gender
0     1  Ram     Brt  20.0    'M'

In [29]:
df['Address']=df['Address'].fillna("Unknown")
df['Age']=df['Age'].fillna(df['Age'].mean())
print(df)

   Roll    Name  Address        Age Gender
0     1     Ram      Brt  20.000000    'M'
1     2    Hari  Unknown  23.333333      F
2     3     NaN      KTM  30.000000    NaN
3     4  pritam  chitwan  20.000000    NaN