In [3]:
f=open(file="test.txt",mode='r')
content=f.read()
print(content)
f.close()

Hello world
I am susan sapkota

In [5]:
with open(file='test.txt',mode='r') as f:
    content=f.read()
    print(content)
    print(type(content))

Hello world
I am susan sapkota

<class 'str'>

In [12]:
f=open(file="test.txt",mode='r')
content=f.read()
print(len(content.split()))
print(type(content.split))

6
<class 'builtin_function_or_method'>

In [15]:
#to calculate the frequency of the words
aDict={}
with open(file='test.txt',mode='r') as f:
    content=f.read().lower()
    words=content.split()
    for word in words:
        if word not in aDict:
            aDict[word]=1
        else:
            aDict[word]+=1
print(aDict)

{'\ufeffhello': 1, 'world': 1, 'i': 1, 'am': 1, 'susan': 1, 'sapkota': 1}

In [18]:
with open(file='test.txt',mode='r') as f:
    content=f.readlines()
    for line in content:
        print(line,end="")

Hello world
I am susan sapkota

In [24]:
with open(file='new.txt',mode='w') as f:
    while(True):
        input_text=input("Enter some text")
        if input_text=='Q' or input_text=="q":
            break
        f.writelines(input_text)

In [26]:
import csv
with open(file="file.csv",mode='r')as f:
    content=csv.reader(f)
    for row in content:
        print(row)

['Name', 'Address', 'Age']
['Susan', 'kapilvastu', '20']
['shishir', 'syangja', '30']

In [28]:
import csv
with open(file="file.csv",mode='r')as f:
    content=csv.DictReader(f)
    for row in content:
        print(row)
        print(row['Name'], ' ',row['Address'],' ',row['Age'])

{'Name': 'Susan', 'Address': 'kapilvastu', 'Age': '20'}
Susan   kapilvastu   20
{'Name': 'shishir', 'Address': 'syangja', 'Age': '30'}
shishir   syangja   30

In [30]:
import csv
data=[
    ['Name','Address','Age'],
    ['Jonny','syanja',30],
    ['pritam','bhairahawa',25],
    ['vanja','patthri',20]
]
with open(file='new.csv',mode='w',newline="") as f:
    writer=csv.writer(f)
    writer.writerows(data)

In [31]:
import csv
data=[
{'Name': 'Susan', 'Address': 'kapilvastu', 'Age': '20'},
{'Name': 'Sujan', 'Address': 'ktm', 'Age': '10'},
{'Name': 'shyam', 'Address': 'Dang', 'Age': '30'}
]
with open(file='neww.csv',mode='w',newline="")as f:
    writer=csv.DictWriter(f,fieldnames=['Name','Address','Age'])
    writer.writeheader()
    writer.writerows(data)

In [33]:
import pandas as pd

df=pd.read_csv('new.csv')
print(df)

     Name     Address  Age
0   Jonny      syanja   30
1  pritam  bhairahawa   25
2   vanja     patthri   20

In [34]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [35]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Address  3 non-null      object
 2   Age      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [37]:
df['province']='koshi'

In [39]:
df

     Name     Address  Age province
0   Jonny      syanja   30    koshi
1  pritam  bhairahawa   25    koshi
2   vanja     patthri   20    koshi

In [42]:
df.to_csv('newnew.csv',index=False)

In [ ]:
#Roll,name,ENg,math,science,paxi thapne total,percentage thapne
#1,Ram,80,81,82
#2,shyam,79,80,83

import pandas as pd
dataFrame=pd.DataFrame([
    {'Roll':1,'Name': 'Susan', 'Address': 'kapilvastu', 'Age': '20'},
    
])