In [77]:
import json
with open("data.json",mode='r') as f:
    content=json.load(f)
print(content)

{'name': 'susan', 'age': 22, 'skills': 'kei xaina'}

In [78]:
import json
from pprint import pprint
data={'name':'susan','age':22,'skills':'kei xaina'}

with open('data.json',mode='w') as f:
    content=json.dump(data,f,indent=4)

# SQLITE

In [79]:
import sqlite3

In [80]:
conn=sqlite3.connect('example.db')
cursor=conn.cursor()

In [81]:
#Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS STUDENTS(
               id INTEGER PRIMARY KEY,
               name TEXT,
               age INTEGER,
               address TEXT
               )""")

In [82]:
# dbBrowser sqlite install garne ghara gayera

In [83]:
#Insert Data
cursor.execute("INSERT INTO students (name,age,address) VALUES (?,?,?)",
               ("Ram",25,"Dharan")
               )
conn.commit()

In [84]:
#Query
cursor.execute("SELECT * FROM students")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ram', 25, 'Dharan')
(2, 'Anu', 25, 'Itahari')
(3, 'Ram', 25, 'Dharan')
(4, 'Anu', 25, 'Itahari')
(5, 'Ram', 25, 'Dharan')
(6, 'Anu', 25, 'Itahari')
(7, 'Ram', 25, 'Dharan')
(8, 'Anu', 25, 'Itahari')
(9, 'Ram', 25, 'Dharan')
(10, 'Anu', 25, 'Itahari')
(11, 'Ram', 25, 'Dharan')

In [85]:
cursor.execute("INSERT INTO students (name,age,address) VALUES (?,?,?)",
               ("Anu",25,"Itahari")
               )
conn.commit()

In [86]:
#Query
cursor.execute('SELECT * FROM students WHERE address LIKE "ITAHARI"')
rows=cursor.fetchall()
for row in rows:
    print(row)

(2, 'Anu', 25, 'Itahari')
(4, 'Anu', 25, 'Itahari')
(6, 'Anu', 25, 'Itahari')
(8, 'Anu', 25, 'Itahari')
(10, 'Anu', 25, 'Itahari')
(12, 'Anu', 25, 'Itahari')

In [87]:
#Query
cursor.execute('SELECT * FROM students WHERE name LIKE "R%"')
rows=cursor.fetchall()
for row in rows:
    print(row)
conn.close()

(1, 'Ram', 25, 'Dharan')
(3, 'Ram', 25, 'Dharan')
(5, 'Ram', 25, 'Dharan')
(7, 'Ram', 25, 'Dharan')
(9, 'Ram', 25, 'Dharan')
(11, 'Ram', 25, 'Dharan')

In [88]:
# SQLAlchemy install garne

In [89]:
from sqlalchemy import create_engine

engine=create_engine('sqlite:///mydb.db',echo=True)

In [90]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String

Base=declarative_base()
class Student(Base):
    __tablename__='students'
    id=Column(Integer,primary_key=True)
    name=Column(String)
    age=Column(Integer)

Base.metadata.create_all(engine)

2025-12-29 13:23:37,494 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:23:37,497 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-12-29 13:23:37,499 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-29 13:23:37,501 INFO sqlalchemy.engine.Engine COMMIT

/tmp/ipykernel_6514/3908831399.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base=declarative_base()

In [91]:

from sqlalchemy.orm import sessionmaker
Session=sessionmaker(bind=engine)
session=Session()

In [93]:
#Adding data
student1=Student(name='Susan',age=20)
student2=Student(name='Pritam',age=20)
session.add(student1)
session.add(student2)
session.commit()

2025-12-29 13:32:40,409 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:32:40,413 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:40,416 INFO sqlalchemy.engine.Engine [generated in 0.00018s (insertmanyvalues) 1/4 (ordered; batch not supported)] ('Susan', 20)
2025-12-29 13:32:40,418 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:40,419 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/4 (ordered; batch not supported)] ('Pritam', 20)
2025-12-29 13:32:40,421 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:40,422 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/4 (ordered; batch not supported)] ('Susan', 20)
2025-12-29 13:32:40,425 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:40,426 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/4 (ordered; batch not supported)] ('Pritam', 20)
2025-12-29 13:32:40,430 INFO sqlalchemy.engine.Engine COMMIT

In [94]:
#Get all students
students=session.query(Student).all()
for s in students:
    print(s.name,s.age)

2025-12-29 13:34:07,884 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:34:07,888 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age
FROM students
2025-12-29 13:34:07,890 INFO sqlalchemy.engine.Engine [generated in 0.00214s] ()
Susan 20
Pritam 20
Susan 20
Pritam 20